.coveralls_local.yml
composer.phar
junk*.*
test*.*
CreateCustomTables.sql
composer.lock
config/yapeal.ini
config/yapeal.yaml
*.log
.idea/
cache/
cachegrind*
docs/
ext/
export/
phpspec.yml
upload/
vendor/
xdebug/
