*.log
.coveralls_local.yml
.idea/
CreateCustomTables.*.sql
build/
cache/
cachegrind*
composer.lock
composer.phar
config/yapeal.ini
config/yapeal.yaml
docs/
export/
ext/
junk*.*
phpspec.yml
test*.*
upload/
vendor/
xdebug/
