default:
  suites:
    AdminTools:
      contexts: [ Yapeal\Behat\AdminToolsContext ]
    ConfigManagement:
        contexts: [ Yapeal\Behat\ConfigManagerContext ]
#  extensions:
#    Cjm\Behat\VersionBasedTestSkipperExtension: ~
